EXPO_PUBLIC_SUPABASE_URL=https://tbjjvkzbtebjyzxjuqtl.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EoHP_5bBKcG6KzvNQDAr9A_ocJAA09R
EXPO_PUBLIC_APP_URL=https://arena-football-app.vercel.app